In [1]:
# Text Preprocessing
text = """
A scandal in Bohemia 01,
The Red-Headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches
"""

text

"\nA scandal in Bohemia 01,\nThe Red-Headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches\n"

In [2]:
text_array = text.split("\n")
text_array

['',
 'A scandal in Bohemia 01,',
 'The Red-Headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches',
 '']

In [3]:
import pandas as pd
vector = pd.Series(text_array)
vector

0
1                  A scandal in Bohemia 01,
2                   The Red-Headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
13
dtype: object

In [4]:
vector = vector[1:len(vector)-1]

In [5]:
vector_df = pd.DataFrame(vector, columns=["Texts"])
vector_df

                                    Texts
1                A scandal in Bohemia 01,
2                 The Red-Headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [6]:
vector_df_copy_1 = vector_df.copy()
vector_df_copy_1["Texts"] = vector_df_copy_1["Texts"].apply(lambda x: x.lower())

In [7]:
vector_df_copy_1["Texts"] = vector_df_copy_1["Texts"].str.replace("[^\w\s]","",regex=True)
vector_df_copy_1["Texts"] = vector_df_copy_1["Texts"].str.replace("\d","",regex=True)
vector_df_copy_1

                                   Texts
1                  a scandal in bohemia
2                   the redheaded league
3                    a case of identity
4            the boscombe valley mystery
5                   the five orange pips
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

In [8]:
vector_df_copy_1["Texts"] = vector_df_copy_1["Texts"].apply(lambda x: " ".join(i if i not in sw else ""  for i in x.split()))
vector_df_copy_1.reset_index(drop=True, inplace=True)
vector_df_copy_1

NameError: name 'sw' is not defined

In [29]:
# Delete low frequency words

#words = []
#vector_df_copy_1["Texts"].apply(lambda x: [words.append(i) for i in x.split()])
#words = pd.Series(words)
#words.value_counts()

# Or
delete = pd.Series(" ".join(vector_df_copy_1["Texts"]).split()).value_counts()[-3:]
delete

coronet    1
copper     1
beeches    1
Name: count, dtype: int64

In [31]:
# Tokenization

from textblob import TextBlob

vector_df_copy_1["Texts"].apply(lambda x: TextBlob(x).words)

0                [scandal, bohemia]
1               [redheaded, league]
2                  [case, identity]
3       [boscombe, valley, mystery]
4              [five, orange, pips]
5               [man, twisted, lip]
6      [adventure, blue, carbuncle]
7       [adventure, speckled, band]
8     [adventure, engineers, thumb]
9      [adventure, noble, bachelor]
10      [adventure, beryl, coronet]
11     [adventure, copper, beeches]
Name: Texts, dtype: object

In [32]:
# Stemming Köklerine ayırma
from nltk.stem import PorterStemmer

st = PorterStemmer()

vector_df_copy_1["Texts"].apply(lambda x: " ".join(  st.stem(i)   for i in x.split()))

0            scandal bohemia
1              redhead leagu
2                 case ident
3     boscomb valley mysteri
4             five orang pip
5              man twist lip
6     adventur blue carbuncl
7       adventur speckl band
8       adventur engin thumb
9     adventur nobl bachelor
10    adventur beryl coronet
11     adventur copper beech
Name: Texts, dtype: object

In [33]:
# Lemmatization 
import nltk
from textblob  import Word
#nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Umut\AppData\Roaming\nltk_data...

True

In [35]:
vector_df_copy_1["Texts"] = vector_df_copy_1["Texts"].apply(lambda x: " ".join(  Word(i).lemmatize()   for i in x.split()))

0              scandal bohemia
1             redheaded league
2                case identity
3      boscombe valley mystery
4              five orange pip
5              man twisted lip
6     adventure blue carbuncle
7      adventure speckled band
8     adventure engineer thumb
9     adventure noble bachelor
10     adventure beryl coronet
11      adventure copper beech
Name: Texts, dtype: object

In [36]:
vector_df["Texts"][0:5]

1        A scandal in Bohemia 01,
2         The Red-Headed League,2
3          A Case, of Identity 33
4    The Boscombe Valley Mystery4
5           The Five Orange Pips1
Name: Texts, dtype: object

In [37]:
vector_df_copy_1["Texts"][0:5]

0            scandal  bohemia
1            redheaded league
2              case  identity
3     boscombe valley mystery
4            five orange pips
Name: Texts, dtype: object

In [88]:
import re
from nltk.corpus import stopwords

def preprocess(text,low_freq_words):
    text = text.lower()
    text = re.sub("[^\w\s]","",text)
    text = re.sub("\d","",text)
    
    # Stopwords / Low Frequency Words
    sw = stopwords.words("english")
    text = " ".join(i if i not in sw else ""  for i in text.split())
    text = " ".join(i if i not in low_freq_words else ""  for i in text.split())    

    # Lemmatization
    # nltk.download("wordnet")
    text = " ".join( Word(i).lemmatize() for i in text.split())

    return text

In [43]:
# NLP Applications

# 1. N-grams
example_string = "Bu örneğin anlaşılabilmesi için daha fazla örnek cümleler yazmak gerekmektedir."
TextBlob(example_string).ngrams(2)

[WordList(['Bu', 'örneğin']),
 WordList(['örneğin', 'anlaşılabilmesi']),
 WordList(['anlaşılabilmesi', 'için']),
 WordList(['için', 'daha']),
 WordList(['daha', 'fazla']),
 WordList(['fazla', 'örnek']),
 WordList(['örnek', 'cümleler']),
 WordList(['cümleler', 'yazmak']),
 WordList(['yazmak', 'gerekmektedir'])]

In [52]:
# 2. Part of Speech Tagging (POS)
#nltk.download('averaged_perceptron_tagger_eng')

TextBlob(example_string).tags

[('Bu', 'NNP'),
 ('örneğin', 'NNP'),
 ('anlaşılabilmesi', 'VBZ'),
 ('için', 'JJ'),
 ('daha', 'NN'),
 ('fazla', 'NN'),
 ('örnek', 'NNP'),
 ('cümleler', 'NN'),
 ('yazmak', 'NN'),
 ('gerekmektedir', 'NN')]

In [53]:
vector_df_copy_1["Texts"].apply(lambda x: TextBlob(x).tags)

0                        [(scandal, NN), (bohemia, NN)]
1                      [(redheaded, VBN), (league, NN)]
2                          [(case, NN), (identity, NN)]
3         [(boscombe, NN), (valley, NN), (mystery, NN)]
4               [(five, CD), (orange, NN), (pips, NNS)]
5                [(man, NN), (twisted, VBD), (lip, NN)]
6        [(adventure, NN), (blue, JJ), (carbuncle, NN)]
7        [(adventure, NN), (speckled, VBD), (band, NN)]
8     [(adventure, NN), (engineers, NNS), (thumb, VBP)]
9        [(adventure, NN), (noble, JJ), (bachelor, NN)]
10        [(adventure, NN), (beryl, NN), (coronet, NN)]
11      [(adventure, NN), (copper, NN), (beeches, NNS)]
Name: Texts, dtype: object

In [68]:
# 3. Chunking: Türkçe açıklama: Cümledeki kelimelerin bir araya gelerek oluşturduğu gruplar.

example_string_en = """R and Python are useful data science tools for the new or experienced data scientist.

Python is a general-purpose programming language that is easy to use and learn.

R is a programming language and free software environment that is used for statistical computing and graphics.

Python is a programming language that lets you work quickly and integrate systems more effectively."""



pos = TextBlob(example_string_en).tags
pos

[('R', 'NNP'),
 ('and', 'CC'),
 ('Python', 'NNP'),
 ('are', 'VBP'),
 ('useful', 'JJ'),
 ('data', 'NNS'),
 ('science', 'NN'),
 ('tools', 'NNS'),
 ('for', 'IN'),
 ('the', 'DT'),
 ('new', 'JJ'),
 ('or', 'CC'),
 ('experienced', 'VBN'),
 ('data', 'NNS'),
 ('scientist', 'NN'),
 ('Python', 'NNP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('general-purpose', 'JJ'),
 ('programming', 'NN'),
 ('language', 'NN'),
 ('that', 'WDT'),
 ('is', 'VBZ'),
 ('easy', 'JJ'),
 ('to', 'TO'),
 ('use', 'VB'),
 ('and', 'CC'),
 ('learn', 'VB'),
 ('R', 'NNP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('programming', 'JJ'),
 ('language', 'NN'),
 ('and', 'CC'),
 ('free', 'JJ'),
 ('software', 'NN'),
 ('environment', 'NN'),
 ('that', 'WDT'),
 ('is', 'VBZ'),
 ('used', 'VBN'),
 ('for', 'IN'),
 ('statistical', 'JJ'),
 ('computing', 'NN'),
 ('and', 'CC'),
 ('graphics', 'NNS'),
 ('Python', 'NNP'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('programming', 'JJ'),
 ('language', 'NN'),
 ('that', 'WDT'),
 ('lets', 'VBZ'),
 ('you', 'PRP'),
 ('work', 'VB'),
 ('quickly', 'RB'),
 ('and', 'CC'),
 ('integrate', 'VB'),
 ('systems', 'NNS'),
 ('more', 'RBR'),
 ('effectively', 'RB')]

In [69]:
reg_ec = "NP: {<DT>?<JJ>*<NN>}"
rp = nltk.RegexpParser(reg_ec)
result = rp.parse(pos)
#result.draw()

In [74]:
# 4. Named Entity Recognition (NER): nesnelerin tanımlanması
example_string_en = """The United States of America (USA) is commonly known as the United States (U.S. or US) or America."""

from nltk import ne_chunk, word_tokenize, pos_tag

#nltk.download("maxent_ne_chunker")
#nltk.download('maxent_ne_chunker_tab')
#nltk.download("words")

#ne_chunk(pos_tag(word_tokenize(example_string_en))).draw()

In [77]:
# Simple Feature Extraction
# 1. Char/Word Count
vector_df_copy_1["Char_Count"] = vector_df_copy_1["Texts"].str.len()
vector_df_copy_1["Word_Count"] = vector_df_copy_1["Texts"].apply(lambda x: len(x.split()))
vector_df_copy_1

                           Texts  Word_Count  Char_Count
0               scandal  bohemia           2          17
1               redheaded league           2          17
2                 case  identity           2          15
3        boscombe valley mystery           3          24
4               five orange pips           3          17
5              man   twisted lip           3          18
6     adventure   blue carbuncle           3          27
7      adventure   speckled band           3          26
8    adventure   engineers thumb           3          28
9     adventure   noble bachelor           3          27
10     adventure   beryl coronet           3          26
11    adventure   copper beeches           3          27

In [89]:
# Text visualization

import pandas as pd

df = pd.read_csv("train.tsv", sep="\t")
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [90]:
#Preprocessing

low_freq = pd.Series(" ".join(df["Phrase"]).split()).value_counts()[-1000:]
df["Phrase"] = df["Phrase"].apply(lambda x: preprocess(x,low_freq))
df

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,series escapade demonstrating adage good goose...,1
1,2,1,series escapade demonstrating adage good goose,2
2,3,1,series,2
3,4,1,,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,hearst,2
156056,156057,8544,forced avuncular chortle,1
156057,156058,8544,avuncular chortle,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortle,2

In [93]:
# Frequency Analysis
import warnings
warnings.filterwarnings("ignore")
tf1 = df["Phrase"].apply(lambda x: pd.Series(x).value_counts())
#tf1 = (df["Phrase"]).apply(lambda x: pd.Series(x).value_counts()).sum().reset_index()
#tf1.columns = ["words","tf"]
tf1

In [92]:
tf1

NameError: name 'tf1' is not defined